.MainContainer {
  height: 93vh;
}

.MainVideo {
  width: 95vw;
  min-height: 100%;
}

.MainVideo > video {
  object-fit: cover;
}

.hidden {
  visibility: hidden;
  max-width: 0px;
  max-height: 0px;
  display: none;
  overflow: hidden;
}

.outgoing {
  width: 250px;
  height: 150px;
  position: absolute;
  right: 2.5vw;
  bottom: 15px;
  z-index: 10;
}

.outgoing > video {
  object-fit: cover;
}

.controls {
  bottom: 5vh;
}
