

.MeetHeading{
    display: flex;
    justify-content: center;
}

.contianerMain{
    text-align: center  ;
}

.incomingVideo{
    width:700px;
    height: 350px;
    box-shadow: 1px black;
    border: 2px solid black;
    margin-bottom: 32px;

}

.outgoingVideo{
    
    float: right;
    width:300px;
    height: 150px;
    box-shadow: 1px black;
    margin-right: 80px;
    border: 2px solid black;
}

.videoContainer{

    width: 100%;
    height: 100%;
    object-fit: cover;

}